<hr style="margin: 30px 0; border:none; border-top: 1px solid #EDF0F2">
                      <span>L'équipe Geoguessr</span>
                    </div>
                  </div>
                  <div class="footer" style="text-align: center">
                    <p>Vous pouvez accéder à notre site à l'adresse suivante : <a href="https://esgi.bburger.ovh/">https://esgi.bburger.ovh/</a></p>
                    <p style="color: #7D8FB3">Geoguessr, 242 Rue du Faubourg Saint-Antoine, 75012 Paris</p>
                  </div>
                </div>
              </body>
            </html>