<html>
              <head>
                <meta name="viewport" content="width=device-width" />
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <title>Base email</title>
                <style type="text/css">
                  body {
                    margin: 0!important;
                  }
            
                  @media only screen and (max-width: 576px) {
                    .padding {
                      padding: 50px 25px!important;
                    }
                    .container {
                      max-width: 300px!important;
                    }
            
                    .footer {
                      font-size: 12px!important;
                    }
            
                    table {
                      font-size: 12px!important;
                    }
                  }
                </style>
              </head>
              <body>
                <div style="background-color: #EDF0F2; height: 100%; padding: 25px 0;" >
                <!-- <img src="image/logo.webp" alt="logo-geoguessr" style="display:block; margin: 0 auto 25px auto;"/> -->
                  <div class="container" style="max-width: 600px; margin: 0 auto;background-color: #ffffff; border-radius: 10px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                    <div class="padding" style="padding: 50px 100px;">
                    <h1 style="color: #4D5E80; font-weight:400;">Bonjour <%= firstname%>,</span></h1>