<%- include('headerEmail'); -%>
<p style="color: #7D8FB3; line-height: 1.7em;">
    Vous pouvez activer votre compte en cliquant sur le lien ci-dessous : <br>
    <a href="<%= url%>"><%= url%></a>
</p>
<%- include('footerEmail'); -%>